.produtoLista {
    display: flex;
    flex-wrap: wrap;
    max-width: 1024px;
    width: 80%;
    margin: 70px auto 0;
    gap: 12px;
  }

  h1{
    font-size: 3.5rem;
      color: rgba(255, 255, 255, 0.61); 
  }

  .linha {
    border: 1px solid #ff6000;
    margin-left: 18%;
    width: 64%;
    align-items: center;
    justify-content: center;
    display: flex;
  }



  @media screen and (max-width: 1147px) {
    h1 {
      width: 50%;
    }
  }
  
  @media screen and (max-width: 700px) {
    h1 {
      width: 90%;
    }
  }

