.produtoLista {
  display: flex;
  flex-wrap: wrap;
  max-width: 1024px;
  width: 80%;
  margin: 70px auto 0;
  gap: 12px;
}

.titulo{
  font-size: 2rem;
    color: rgb(0, 0, 0); 
    text-align: center;
    margin-top: 2rem;
}

.linhaInferior {
  border: 0.1px solid #ff6000;
  margin-left: 18%;
  width: 64%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.linhaSuperior {
  border: 0.1px solid #ff6000;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}
.botaoAtualizar2{
  height: 2rem;
  width: 18rem;
  cursor: pointer;
  background-color: #350279;
  color: white;
  font-size: 1.4rem;
  border-radius: 25px;
}

.botaoAtualizar2:hover{
transform: scale(0.95);

}
.LinkContainer{
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 2rem;
  text-decoration: none;
}


@media screen and (max-width: 1147px) {
  h1 {
    width: 50%;
  }
}

@media screen and (max-width: 700px) {
  h1 {
    width: 90%;
  }
}


  @media screen and (max-width: 1147px) {
    h1 {
      width: 50%;
    }
  }
  
  @media screen and (max-width: 700px) {
    h1 {
      width: 90%;
    }
  }

